DB_URL=jdbc:postgresql://localhost:5432/payment_gateway
DB_USERNAME=postgres
DB_PASSWORD=postgres
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/payment
COREBANK_URL=http://localhost:8081
BILLER_URL=http://localhost:8082
KAFKA_SERVERS=localhost:9092